html, body
{
    height: 100%;
	font-family: "FrutigerLTW01-55Roman",Verdana,sans-serif;
}
#chat-bot {
	background: #FFF;
}
h1 {
	font-size: 31px;
	color: #323232;
	font-weight: bold;
}
h2 {
	font-size: 18px;
	color: #323232;
	font-weight: bold;
}
p, label {
	font-size: 14px;
	color: #323232;
	font-weight: normal;
}
label {
	margin-bottom: 10px;
}
input.form-control {
	box-shadow: none;
}
.btn {
	display: inline-flex;
    align-items: center;
    padding: .5rem 3.8rem;
    border: 2px solid #d1d1d1;
    border-radius: 0;
    cursor: pointer;
    outline: 0;
    font-weight: 500;
    white-space: normal;
    transition: color 200ms,background-color 200ms,border-color 200ms;
    font-size: 16px;
    line-height: 1.7;
}
.btn:hover {
    color: #d40511;
    background-color: #fff;
    border-color: #d40511;
}
.btn-default {
    color: #d40511;
    background: #fff;
}
.btn-primary {
    border: 2px solid #d40511;
    color: #fff;
    background: #d40511;
}
.btn-primary:active:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary.active[disabled], .btn-primary.focus[disabled], .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover{
    color: #fff;
    background-color: #7f030a;
    border-color: #3f0105;
}
.btn-block {
    justify-content: center;
    padding: .5rem 1.5rem;
}
.mt-20 {
	margin-top: 20px;
}
.bottomClose {
    color: #d40511;
    font-size: 14px;
    width: 100%;
    text-align: center;
    margin: 50px 0px 20px;
    cursor: pointer;
}
.bottomClose:hover {
	color: #d40511;
}
.container .form-group input.form-control.error {
	border: 1px solid #d40511;
}
.wrap {
	position: relative;
	height: 100%;
}
.headbg {
	position: absolute;;
	background: linear-gradient(-180deg,#fc0 0,#ffd83f 50%,rgba(255,216,63,0) 100%);
	height: 96px;
	width: 100%;
	z-index: 1;
}
.container {
	min-height: 100%;
	z-index: 999;
	position: relative;
	background: #FFF;
}
.container .header {
	background: linear-gradient(-180deg,#fc0 0,#ffd83f 50%,rgba(255,216,63,0) 100%);
	height: 96px;
	width: 100%;
	z-index: 1;
	padding: 0px;
}

.container .header .logo {
	background: url('../img/dhl-official.svg') no-repeat;
	height: 30px;
	width: 130px;
	margin: 30px 0px 0px 50px;
}

#login-view,
#callback-view,
#survey-view,
#survey-success-view {
	margin: 45px 50px 0px 50px;
}
.container .form-control {
	border-radius: 0px;
	border: 1px solid #e8e8e8;
}
.container .form-control:focus {
	box-shadow: none;
}
.container .form-group .openChat {
	margin-top: 15px;
}
#chat-view {
	height: calc(100vh - 120px);
	position: relative;
}
#chat-view .chat-input {
	position:absolute;
	height: 40px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	/*border: 1px solid #d40511;*/
}
#chat-view .chat-messages {
	border: 1px solid #e8e8e8;
	overflow-y: auto;
	overflow-x: hidden;
    margin-top: 15px;
    height: calc(100vh - 270px);
    position: relative;
    background-color: #fff;
}
#chat-view .chat-messages ul {
    width:100%;
    list-style-type: none;
    padding:0px;
    position:relative;
    display:flex;
    flex-direction: column;
	position: absolute;
    top: 0;
}
#chat-view .chat-messages a.inside-link,
#chat-view .chat-messages a.inside-link-aborted,
#chat-view .chat-messages a.inside-link-close {
	cursor: pointer;
}
#chat-view .chat-input .form-control.input {
	width: 100%;
	max-width: calc(100% - 110px);
	margin: 2px 0px 0px 0px;
	box-shadow: none;
	height: 41px;
	font-size: 16px;
}
#chat-view .chat-input .form-group .btn {
	position:absolute;
	right: 2px;
	top: 2px;
	max-width: 100px;
	margin-top: 0px;
}
#chat-view .headline {
	text-align: center;
	font-size: 31px;
	color: #323232;
	font-weight: bold;
	padding: 30px 0 20px;
}
#chat-view .beta {
	width: 178px;
	height: 80px;
	display: block;
	background: url('../img/Stoerer_Beta_171025.png') no-repeat 0 0 / cover;
	position: absolute;
	bottom: 0px;
}
#chat-view .endchat {
	position: absolute;
	right: 15px;
	bottom: 20px;
}
@media (max-width: 991px) {
	
	#chat-view .beta {
		width: 128px;
		height: 55px;
		bottom: 10px;
	}
	#chat-view .headline {
		text-align: center;
		font-size: 26px;
	}
	
	#chat-view .endchat {
	    background: url(../img/btn_close_mobile.svg) no-repeat;
	    background-size: 21px 21px;
	    width: 31px;
	    height: 31px;
	    cursor: pointer;
	    position: absolute;
	    top: 41px;
	    right: 15px;
	    border: none;
	    text-indent: -9999px;
	    padding: 0px;
	}	
}

@media (max-width: 768px) {
	.header:after {
	    width: 100%;
	    margin-left: 0px;
	}

	#chat-view .headline {
		text-indent: -9999px;
	}

	#login-view,
	#callback-view,
	#survey-view {
		margin: 15px 10px 0px 10px;
	}
	
	.container .header .logo {
	    margin: 30px 0px 0px 15px;
	}	
}

.msj .avatar{
	display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    padding-right: 10px;
    position: absolute;
    left: 20px;
}
.msj-rta .avatar{
	display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    padding-right: 10px;
    position: absolute;
    right: 20px;
}
.msj-rta.macro {
	margin-top: 10px;
    margin-left: 10px;
    margin-right: 80px;
    max-width: calc(100% - 100px);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-right: 0px;
}
.msj.macro {
	margin-top: 10px;
    margin-right: 10px;
    max-width: calc(100% - 100px);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-left: 80px;
    margin-bottom: 20px;
    padding-left: 0px;
}
.msj-rta{
    background:#f5f5f5;float: right;
}
.msj{
    float:left;background:#fff5D1;
}
ul {
    width:340px;
    list-style-type: none;
    padding:18px;
    position:relative;
    display:flex;
    flex-direction: column;
	position: absolute;
    bottom: 0;
}
.msj:before{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:-10px;
    position:relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent #fff5D1 transparent transparent;
}
.msj-rta:after{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:10px;
    position:relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: #f5f5f5 transparent transparent transparent;
}
.text{
    width:100%;display:flex;flex-direction:column;
}
.text > p:first-of-type{
    width:100%;margin-top:0;margin-bottom:auto;line-height: 16px;font-size: 14px;min-height: 26px;
}
.text > p:last-of-type{
	width: 100%;
    color: #666;
    line-height: 16px;
    font-size: 11px;
    position: absolute;
    bottom: -10px;
}
.connect.text > p:last-of-type {
	position: relative;
}
.msj-rta.macro .text > p:last-of-type {
	right: 90px;
	bottom: -10px;
}
.text-l{
    float:left;
    padding-top:5px;
    text-align:right;
}
.text-r{
    float:right;    
    padding-top: 5px;
}
.typing p {
	font-size: 12px;
	margin-left: 10px;
    margin-top: 5px;
}
.chat-messages li.connect {
	display:block;
}
.chat-messages li.connect p {
	text-align: center;
}
.chat-messages li.connect p a {
	margin: 0px 0px 20px;
	color: #333;
	display: block;
}

.form-radio.form-radio .input-dummy, .form-checkbox.form-radio .input-dummy {
    border-radius: 100%;
}
.form-radio .input-dummy, .form-checkbox .input-dummy {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e8e8e8;
    cursor: pointer;
    display: inline-flex;
    height: 2.2rem;
    left: 5px;
    position: absolute;
    top: -2px;
    width: 2.2rem;
}
.radio label, .checkbox label {
    cursor: pointer;
    font-weight: normal;
    margin-bottom: 0;
    min-height: 27px;
    padding-left: 20px;
}
.form-radio label, .form-checkbox label {
    margin: 0;
    padding-left: 3rem;
}

label, .label {
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-weight: 400;
}
.form-radio .input-dummy .icon, .form-checkbox .input-dummy .icon {
    display: none;
    justify-content: center;
    position: relative;
    top: -2px;
}
input[type="radio"]:checked + .input-dummy .icon, input[type="checkbox"]:checked + .input-dummy .icon {
    display: flex;
}
 .form-radio.form-radio .input-dummy .icon, .form-checkbox.form-radio .input-dummy .icon {
    background-color: #d40511;
    border-radius: 100%;
    height: 0.6rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0.6rem;
}
#survey-view .border-yellow {
	border-left: 0px solid #ffcc0f;
	margin-top: 30px;
	margin-bottom: 20px;
}
#survey-view .border-yellow h2 {
	margin: 0px;
}
#survey-view ul {
	position:relative;
	width:100%;
	flex-direction: row;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: 40px;
}
#survey-view ul li{
	float:left;
}
#survey-view ul li span:not(.input-dummy):not(.icon){
	
	display: block;
	margin: 0px -10px;
}
#survey-view ul li:first-of-type {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
#survey-view ul li:last-of-type {
	padding-top: 30px;
	padding-left: 20px;
}
#survey-view ul li.star{
	text-align: center;
	background: #fff;
	padding: 0px 10px 0px 10px;
}
#survey-view .form-radio .input-dummy {
    left: 5px;
    top: 0px;
}
@media (max-width: 768px) {
	
	.de .container .header .endChat {
	    background: url(../img/btn_close_mobile.svg) no-repeat;
	    background-size: 21px 21px;
	    width: 31px;
	    height: 31px;
	    cursor: pointer;
	    position: absolute;
	    top: 39px;
	    right: 15px;
	}
	
	#survey-view h1 {
		font-size: 22px;
	}
	#survey-view ul li:first-of-type {
	    padding-top: 20px;
	    padding-left: 10px;
	    padding-right: 15px;
	}
	#survey-view ul li:last-of-type {
	    padding-top: 30px;
	    padding-left: 15px;
	}	
	#survey-view ul li.star {
	    text-align: center;
	    background: #fff;
	    padding: 0px 3px 0px 3px;
	}	
	.checkbox, .radio {
	    position: relative;
	    display: block;
	    margin-top: 17px;
	    margin-bottom: 10px;
	}	
}
