html, body
{
    height: 100%;
	font-family: "Frutiger Neue LT W06",Verdana,sans-serif;
}
#chat-bot {
	background: linear-gradient(to bottom, #e9e1d4, #f9f4ee) no-repeat fixed;
}
h1 {
	font-size: 22px;
	color: #323232;
}
p, label {
	font-size: 14px;
	color: #323232;
	font-weight: normal;
}
label {
	margin-bottom: 10px;
}
.btn {
	display: inline-flex;
    align-items: center;
    padding: .5rem 3.8rem;
    border: 2px solid #d1d1d1;
    border-radius: 0;
    cursor: pointer;
    outline: 0;
    font-weight: 500;
    white-space: normal;
    transition: color 200ms,background-color 200ms,border-color 200ms;
}
.btn:hover {
    color: #d40511;
    background-color: #fff;
    border-color: #d40511;
}
.btn-default {
    color: #d40511;
    background: #fff;
}
.btn-block {
    justify-content: center;
    padding: .5rem 1.5rem;
}
.mt-20 {
	margin-top: 20px;
}
.bottomClose {
    color: #d40511;
    font-size: 14px;
    display: block;
    width: 100%;
    text-align: center;
    margin: 50px 0px 20px;
}
.bottomClose:hover {
	color: #d40511;
}
.container .form-group input.form-control.error {
	border: 1px solid #d40511;
}
.wrap {
	position: relative;
	height: 100%;
}
.headbg {
	position: absolute;;
	background: linear-gradient(to bottom, #ffcc0f, #ffcd0e) no-repeat ;
	height: 96px;
	width: 100%;
	z-index: 1;
}
.headbg:after {
    background: rgba(0, 0, 0, 0) url("../img/wrap_stroke.png") repeat fixed 0 0;
    content: "";
    display: inline-block;
    height: 4px;
    position: absolute;
    top: 92px;
    width: 100%;
}
.container {
	min-height: 100%;
	box-shadow: 11px 0 15px -12px rgba(0, 0, 0, 0.8), -12px 0 8px -12px rgba(0, 0, 0, 0.8);
	z-index: 999;
	position: relative;
	background: #fff;
}
.container .header {
	background: linear-gradient(to bottom, #ffcc0f, #ffcd0e) no-repeat ;
	height: 93px;
	width: 100%;
	z-index: 1;
	padding: 0px;
}
.header:after {
    background: rgba(0, 0, 0, 0) url("../img/header_stroke.png") repeat fixed 0 0;
    content: "";
    display: inline-block;
    height: 6px;
    position: absolute;
    top: 87px;
    width: calc(100% + 12px);
    margin-left: -6px;
}
.container .header .logo {
	background: url('../img/logo_dhl_kundensupport.png') no-repeat;
	height: 45px;
	width: 171px;
	margin: 30px 0px 0px 50px;
}
.container .header .endChat {
	background: url('../img/btn_chat_beenden_sprite.png') no-repeat;
	width: 117px;
	height: 24px;
	cursor: pointer;
	position: absolute;
	top: 43px;
	right: 50px;
}
.container .header .endChat:hover {
	background-position-y: -25px;
}
#login-view,
#callback-view,
#survey-view {
	margin: 45px 50px 0px 50px;
}
.container .form-control {
	border-radius: 0px;
	border: 1px solid #e8e8e8;
}
.container .form-control:focus {
	box-shadow: none;
}
.container .form-group .openChat {
	width: 100%;
	max-width:463px;
	margin-top: 15px;
}
#chat-view {
	height: calc(100% - 114px);
	position: relative;
}
#chat-view .chat-input {
	position:absolute;
	height: 40px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	/*border: 1px solid #d40511;*/
}
#chat-view .chat-messages {
	border: 1px solid #e8e8e8;
	overflow-y: scroll;
	overflow-x: hidden;
    margin-top: 15px;
    height: calc(100% - 50px);
}
#chat-view .chat-input .form-control.input {
	width: 100%;
	max-width: calc(100% - 110px);
	margin: 2px 0px 0px 2px;
}
#chat-view .chat-input .form-group .btn {
	position:absolute;
	right: 2px;
	top: 2px;
	max-width: 100px;
}
@media (max-width: 768px) {
	.header:after {
	    width: 100%;
	    margin-left: 0px;
	}

	#login-view,
	#callback-view,
	#survey-view {
		margin: 15px 10px 0px 10px;
	}
}

@media (max-width: 480px) {
	.endChat {
		display:none;
	}
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    .container .header .logo {
		background: url('../img/logo_dhl_kundensupport@x2.png');
		background-size: 171px 45px;
	}
	.container .header .endChat {
		background: url('../img/btn_chat_beenden_sprite@x2.png') no-repeat;
		background-size: 117px 49px;
	}
	.container .header .endChat:hover {
		background-position-y: -25px;
	}
}
/*

.mytext{
    border:0;padding:10px;background:whitesmoke;
}
.text{
    width:75%;display:flex;flex-direction:column;
}
.text > p:first-of-type{
    width:100%;margin-top:0;margin-bottom:auto;line-height: 13px;font-size: 12px;
}
.text > p:last-of-type{
    width:100%;text-align:right;color:black;margin-bottom:-7px;margin-top:auto;
}
.text-l{
    float:left;padding-right:10px;
}
.text-r{
    float:right;padding-left:10px;
}
.avatar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:25%;
    float:left;
    padding-right:10px;
}
.macro{
    margin-top:5px;width:85%;border-radius:5px;padding:5px;display:flex;padding-bottom: 10px;
}
.msj-rta{
    float:right;background:whitesmoke;
}
.msj{
    float:left;background:white;
}
.frame{
    background:#e0e0de;
    height:450px;
    overflow:hidden;
    padding:0;
}
.frame > div:last-of-type{
    position:absolute;bottom:5px;width:100%;display:flex;
}
ul {
    width:340px;
    list-style-type: none;
    padding:18px;
    position:relative;
    display:flex;
    flex-direction: column;
	position: absolute;
    bottom: 0;
}
.msj:before{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:-14px;
    position:relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent #ffffff transparent transparent;
}
.msj-rta:after{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:14px;
    position:relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: whitesmoke transparent transparent transparent;
}
input:focus{
    outline: none;
}
::-webkit-input-placeholder { 
    color: #d4d4d4;
}
::-moz-placeholder { 
    color: #d4d4d4;
}
:-ms-input-placeholder { 
    color: #d4d4d4;
}
:-moz-placeholder { 
    color: #d4d4d4;
}

input.error {
	border: 1px solid red;
}
.error_msg {
	color: red;
}
label{
	line-height:30px;
	width: 100px;
	display: block;
	float: left;
} 
input[type="text"],
input[type="email"] {
	line-height: 30px;
	margin-bottom: 10px;
} 

.chatbutton,
.livechatbutton {
	line-height:30px;
	width: 191px;
}
.chat-input input {
	margin-left: 7px;
}